[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=google2ubuntu-manager
GenericName=google2ubuntu-manager
Comment=google2ubuntu manager
Icon=/usr/share/google2ubuntu/resources/icons.png
Exec=/usr/share/google2ubuntu/google2ubuntu-manager.py
Terminal=false
StartupNotify=false
Categories=Application
