[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=google2ubuntu
GenericName=google2ubuntu
Comment=Utiliser la reconnaissance vocale de Google
Icon=/usr/share/google2ubuntu/resources/icons.png
Exec=/usr/share/google2ubuntu/google2ubuntu.py
Terminal=false
StartupNotify=false
Categories=Application
